.stopwatch {
    text-align: center;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

body{
    background-color: rgba(225, 127, 22, 0.684);
}
